*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: #267481;
}
.cd-section h2 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 100vh;
  text-align: center;
}
.cd-section:nth-of-type(1) > .cd-section-inside {
  background-image: url('../images/img-1.jpg');
}
.cd-section:nth-of-type(2) > .cd-section-inside {
  background-image: url('../images/img-2.jpg');
}
.cd-section:nth-of-type(3) > .cd-section-inside {
  background-image: url('../images/img-3.jpg');
}
.cd-section:nth-of-type(4) > .cd-section-inside {
  background-image: url('../images/img-4.jpg');
}
.cd-section:nth-of-type(5) > .cd-section-inside {
  background-image: url('../images/img-5.jpg');
}
body {
  overflow: hidden;
}
.cd-section {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  opacity: 0;
}
.cd-section-inside {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  overflow: hidden;
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-vertical-nav {
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 3%;
  bottom: auto;
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-vertical-nav a {
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  white-space: nowrap;
  text-indent: 100%;
  background: url('../images/cd-icon-arrow.svg') no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  margin-bottom: 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.scene {
  margin: 0;
  padding: 0;
}
.layer img {
  max-width: 100%;
}
