*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  background-color: #22283f;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
}

.vs-section {
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
}

.vs-section h2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 4rem;
  margin: auto;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
  text-align: center;
}

.vs-section:nth-of-type(1) {
  background-image: url('../images/img-1.jpg');
}

.vs-section:nth-of-type(2) {
  background-image: url('../images/img-2.jpg');
}

.vs-section:nth-of-type(3) {
  background-image: url('../images/img-3.jpg');
}

.vs-section:nth-of-type(4) {
  background-image: url('../images/img-4.jpg');
}

.vs-section:nth-of-type(5) {
  background-image: url('../images/img-5.jpg');
}

.vs-nav {
  position: fixed;
  z-index: 50;
  top: 50%;
  right: 3%;
  bottom: auto;
  display: block;

  -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
         transform: translateY(-50%);
}

.vs-nav li:first-child {
  margin-bottom: 20px;
}

.vs-nav a {
  display: block;
  width: 22px;
  height: 25px;
  text-indent: -9999px;
  background: url('../images/icon-arrow.svg') no-repeat center center;
}

.vs-nav a.vs-prev {
  margin-bottom: 10px;

  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
         transform: rotate(180deg);
}

footer {
  z-index: 9999;
  position: fixed;
  bottom: 15px;
  left: 15px;
}

footer p {
  color: #999;
}

footer a:nth-child(2) {
  border-bottom: 1px dotted #fff;
}