@import '_variables.less';
@import '_mixins.less';

// Vertical scroller styling (optional)

*,
*::after,
*::before {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.6rem;
   color: #fff;
   background-color: #22283f;

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a {
   text-decoration: none;
   color: #267481;
}

.vs-section h2 {
   font-size: 4rem;
   font-weight: 300;
   line-height: 100vh;
   text-align: center;
}

.vs-section:nth-of-type(1) > .vs-section-inside {
   background-image: url('../images/img-1.jpg');
}
.vs-section:nth-of-type(2) > .vs-section-inside {
   background-image: url('../images/img-2.jpg');
}
.vs-section:nth-of-type(3) > .vs-section-inside {
   background-image: url('../images/img-3.jpg');
}
.vs-section:nth-of-type(4) > .vs-section-inside {
   background-image: url('../images/img-4.jpg');
}
.vs-section:nth-of-type(5) > .vs-section-inside {
   background-image: url('../images/img-5.jpg');
}

// Vertical scroller

body {
   overflow: hidden;
}

.vs-section {
   position: absolute;
   top: 0;
   left: 0;
   visibility: hidden;
   width: 100%;
   height: 100vh;
   opacity: 0;
}

.vs-section-inside {
   position: absolute;
   position: fixed;
   top: 0;
   left: 0;
   visibility: visible;
   overflow: hidden;
   width: 100%;
   height: inherit;
   background-repeat: no-repeat;
   background-position: center center;

   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   .background-size( cover );
   .transform( translateZ(0) );
}

.vs-vertical-nav {
   position: fixed;
   z-index: 1;
   top: 50%;
   right: 3%;
   bottom: auto;
   display: block;

   .transform( translateY(-50%) );
   a {
      display: block;
      overflow: hidden;
      width: 40px;
      height: 40px;
      white-space: nowrap;
      text-indent: 100%;
      background: url('../images/cd-icon-arrow.svg') no-repeat center center;
   }
}

.vs-vertical-nav a.vs-prev {
   margin-bottom: 10px;

   .transform( rotate(180deg) );
}
